#branch-sidebar {
   display:inline;
}
.well sidebar-nav {
   min-height:1000px;
   display:inline-block;
}
.analytics-container {
   clear:both;
}
.table {
   background:white;
}

#rcurrency {
width: 97%;
}

input.span1 {
   min-width:9%;
}
select.span1 {
   min-width:9%;
   margin-left:10px;
}
input.span6 {
   min-width:62%;
   margin-right:5px;
}
.span4.offset3 {
   font-size:22px;
   line-height:28px;
   text-align:center;
   margin-top:25px;
   margin-bottom:25px;
   color:#08C;   
}
.span7 {
   margin-left:0px;
}
.span8 {
   margin-left:0px;
}
.welcome {
   padding-left:10px;
   color:#08C;
}
#break {
   margin-right:15px;
}
#item{
   width:35%;
   margin-right:1%;
}
.currencymargin {
   margin-bottom:2%;
}
.btn.btn-primary {
   padding-top:2px;
   padding-right:25px;
   padding-bottom:2px;
   padding-left:25px;
   margin-top:0px;
   font-size:16px;
}
.currency-title {
   font-size:22px;
   line-height:40px;
   clear:both;
   text-align:center;
   color:#08C;
   margin-top:50px;
}
.inputfield {
   width:95%;
}
#current-rules {
   font-size:22px;
   line-height:40px;
   text-align:center;
   color:#08C;
   margin-top:50px;
   margin-bottom:15px;
}

.table-striped {
   min-width:75.5%;
}
.delete {
   color:red;
}
.cr-table {
   font-size:16px;
   text-align:left;
}
#goal-lineone {
   margin-bottom:10px;
}
#start-contest {
   margin-bottom:10px;
}
#create-contest {
   font-size:22px;
   line-height:28px;
   text-align:center;
   color:#08C;
}
#live-contest {
   font-size:22px;
   line-height:28px;
   text-align:center;
   color:#08C;
}
}
#pastcontest-table {
   margin-bottom:50px;
}
#progress-upload {
   position:relative;
   display:inline-block;
}
.progress {
   width:20%;
   position:relative;
   display:inline-table;
}
#employee-name {
   margin-right:10px;
}
#employee-position {
   margin-right:10px;
}
.header {
   background:#08C;
   color:white;
   padding:5px;
   border:1px solid #E0E0E0;
}
.tablebody {
   padding:5px;
   border:2px solid #E0E0E0;
}
.hover {
   background-color: #8dc70a; //or #08C;
   cursor:pointer;
   color:white;
}
#contestbutton {
   margin-top:15px;
   margin-left:0px;
}
#rewardbutton{
   margin-top:10px;
   margin-left:0px;
}
.imagebreak {
   margin-top:10px;
}
#imagelabel {
   margin-left:0px;
   margin-bottom:0px;
   padding-top:5px;
}
#fileToUpload {
   padding-left:10px;
   padding-right:10px;
}
#productbutton {
   margin-left:0px; 
}

