body {
   background:url(../img/wood_pattern.png)repeat center center;
}

#credit-card {
   height:250px;
   width:550px;
   margin-top:15%;
   margin-left:auto;
   margin-right:auto;
   margin-bottom:17%;
   background:url(../img/credit-background.png)repeat center center;
   border-top-left-radius:20px;
   border-top-right-radius:20px;
   border-bottom-left-radius:20px;
   border-bottom-right-radius:20px;
   border-top:8px solid black;
   border-right:8px solid black;
   border-bottom:8px solid black;
   border-left:8px solid black;
}
.credit-container {
   padding:20px;
   position:relative;
}
.app-container {
   padding:20px;
   position:relative;
   /*background-image:-webkit-linear-gradient(top,#595959,black);
   background-image: -moz-linear-gradient(top, #595959, black);
   background-image: -ms-linear-gradient(top, #595959, black);
   background-image:-o-linear-gradient(top, #595959, #black);
   background-image:linear-gradient(to bottom, #595959(0, 80%, 70%), black);*/
}

#employeeapp {
   border-top:1px solid white;
   border-bottom:1px solid #333;
}
#topappbar {
   position:relative;
   left:325px;
}

.contest {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  font-weight:bold;
  clear:both;
} 
.holding-circle {
   height:100px;
   width:100px;
   border-radius:50%;
   border:4px solid #333;
   position:relative;
   font-size:22px;
   text-align:center;
   background-color:white;
   display:inline-block;
   margin-top:5px;
}
.currency {
   position:absolute;
   margin-left:35%;
   top:25%;
   color:#333;
   font-size:34px; 
   line-height:42px;
   margin-left:22%;
  
}
.currency-type {
   position:absolute;
   color:#333;
   font-size:14px;
   bottom:0px;
   text-align:center;
   margin-left:25%;
}
.credit-rowleft {
   float:left;
   position:relative;
   display:inline-block;
   margin-left:25px;
   padding-left:30px;
   padding-right:30px;
}
.credit-rowright {
   float:right;
   position:relative;
   display:inline-block;
   margin-right:50px;
   padding-right:30px;
   padding-bottom:0px;
   padding-left:30px;
}

.creditname {
   display:block;
   font-size:16px;
   line-height:20px;
   color:silver;
   text-align:center;
   margin-bottom:0px;
}
.rank-number {
   font-size:16px;
   line-height:20px;
   color:silver;

}
.earn-currency {
   margin-left:10px;
   font-size:25px;
   line-height:28px;
   color:silver;
}
#center {
   text-align:center;
}
.live-contest {
   margin-right:10px;
   font-size:25px;
   line-height:28px;
   color:silver;
}
.reward_image {
  display:block;
  padding-top:50px;
  padding-bottom:25px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  right:15px;
}
#containergame {
   width:90%;
   z-index:1;
   background-color:#333;

} 
#startgame {
   font-size:40px;
   letter-spacing:1px;
   cursor:pointer;
   color:white;
   text-align:center;
   margin-bottom:0px;
   margin-left:50px;
}
.categories {
   border:1px solid #333;
   background-color:black;
   color:white;
}

.rank {
   font-weight:bold;
   font-size:18px;
   background-image:-webkit-linear-gradient(top, #4BF, #08C);
}
.name {
   width:50%;
   font-size:18px;
   background-image:-webkit-linear-gradient(top, #4BF, #08C);
}
.points {
   width:35%;
   font-size:18px;
   background-image:-webkit-linear-gradient(top, #4BF, #08C);
}
.currency-app{
   color:white;
   display:inline-block;
   font-size:25px;
   line-height:30px;
   text-align:center;
   margin-bottom:0px;
}
#rules-title {
   text-align:center;
}
#contest-title {
   text-align:center;
   margin-top:25px;
}
.gamerow {
   font-size:22px;
   font-weight:bold;
   line-height:36px;
   padding-top:5px;
   padding-right:0px;
   padding-bottom:20px;
   padding-left:20px;
   z-index:2;
   cursor:pointer;
}

.table-striped {
   margin-top:20px;
   margin-left:auto;
   margin-right:auto;
   background-color:white;
   z-index:2;
   margin-bottom:0px;
 }
 .legend_table {
   float:left;
   display:inline;
   padding-left:15px;
   margin-top:25px;
   margin-bottom:25px;
 }
.legend_status {
   font-weight:bold;
   color:white;
}
.gamerank {
   padding-left:15px;
}
.gamename {
   padding-left:10px;
}
.gamepoints {
   padding-left:30px;
}




@media only screen and (max-device-width: 480px) {

.credit-container {
   padding-top:5px;
   padding-right:25px;
   padding-bottom:25px;
   padding-left:25px;
   position:relative;   
}

#credit-card {
   height:150px;
   width:75%;
   margin-top:100px;
   margin-left:auto;
   margin-right:auto;
   margin-bottom:100px;
   background:url(../img/credit-background.png)repeat center center;
   border-top-left-radius:20px;
   border-top-right-radius:20px;
   border-bottom-left-radius:20px;
   border-bottom-right-radius:20px;
   border-top:8px solid black;
   border-right:8px solid black;
   border-bottom:8px solid black;
   border-left:8px solid black;
}
#startgame {
   font-size:20px;
   letter-spacing:-1px;
   cursor:pointer;
   color:white;
   text-align:center;
   padding-top:0px;
   margin-top:0px;
   margin-bottom:0px;
}
 .holding-circle {
   height:60px;
   width:60px;
   border-radius:50%;
   border:2px solid #333;
   margin-left:auto;
   margin-right:auto;
   margin-bottom:0px;
   position:relative;
   font-size:14px;
   text-align:center;
   background-color:white;
}
.currency {
   position:absolute;
   top:20px;
   color:#333;
   font-size:20px;
   font-weight:600; 
   line-height:25px;
   margin-top:0px;
   margin-left:15px;
  
}
.currency-type {
   position:absolute;
   color:#333;
   font-size:8px;
   text-align:center;
   margin-top:10px;
   margin-left:10px;
   bottom:0px;
}
.credit-rowleft {
   float:left;
   position:relative;
   display:inline-block;
   margin-left:5px;
   padding-right:2px;
   padding-left:2px;
}
.credit-rowright {
   float:right;
   position:relative;
   display:inline-block;
   margin-right:5px;
   padding-right:2px;
   padding-left:2px;
}
.earn-currency {
   margin-right:0px;
   font-size:15px;
   line-height:20px;
   color:silver;
}
.live-contest {
   margin-left:0px;
   font-size:15px;
   line-height:20px;
   color:silver;
}
.creditname {
   display:block;
   font-size:14px;
   line-height:16px;
   color:silver;
   text-align:center;
   margin-bottom:0px;
}
 #rules-title {
   margin-top:50px;
   text-align:center;
   font-size:30px;
   line-height:35px;
}
#rules-size {
   font-size:30px;
   line-height:35px;
   font-weight:600; 
}

.gamerow {
   font-size:25px;
   line-height:35px;
   font-weight:bold;
   padding-top:5px;
   padding-right:0px;
   padding-bottom:20px;
   padding-left:20px;
   z-index:2;
   cursor:pointer;
}

.table-striped {
   margin-top:20px;
   margin-left:auto;
   margin-right:auto;
   background-color:white;
   z-index:2;
   margin-bottom:0px;
 }
 .legend_table {
   float:left;
   display:inline;
   padding-left:15px;
   margin-top:25px;
   margin-bottom:25px;
 }
.legend_status {
   font-weight:bold;
   color:white;
}
.gamerank {
   padding-left:15px;
   font-size:14px;
   line-height:20px;
}
.gamename{
   padding-left:15px;
   font-size:14px;
   line-height:20px;
}

.gamepoints {
   text-align:center;
   padding-left:50px;
   font-size:15px;
   line-height:20px;
}
#contest-title {
   margin-top:20px;
   font-size:30px;
   line-height:35px;
}
#contest-size {
   font-size:30px;
   line-height:35px;
   font-weight:600;
}

}