<div class="credit-container" id="credit-card">
  <div class="row-fluid"> 
     <h1 id="startgame">oWOW</h1>
  </div>
  <div class="row-fluid" id="center">
     <div class="holding-circle">
        <p class="currency">250</p>
     </div>
  </div>
  <div class="row-fluid">
     <div class="credit-rowleft">
        <a href="#currency"><p class="earn-currency">Earn Currency</p></a>
     </div>
     <div class="credit-rowright">
        <a href="#currency"><p class="live-contest">Live Contest</p></a>
     </div>
  </div>
  <div class="row-fluid">
     <a href="#currency"><p class="creditname" id="creditname">DANNY HABER</p></a>
  </div>
</div>
<div class="app-container" onload="getEmployees()">  
  <div class="row-fluid">
     <table class="table table-striped" id="leaderboard">
        <thead class="categories">
           <tr>
              <th class="rank">Rank</th>
              <th class="name">Name</th>
              <th class="points wows">W</th>
           </tr>
        </thead>
        <tbody id="gameon">
        </tbody>
     </table>
  </div>
